@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Rubik+Vinyl&display=swap");
:root {
  --dark-orange: #ca2d04;
  --light-orange: #ef5c08;
  --brownish-orange: #a01d05;
  --black: #1a1606;
  --brown: #601407;
  --Poppins: "Poppins", sans-serif;
  --Rubik: "Rubik VInyl", sans-serif;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: var(--Poppins);
}

body {
  padding: 1rem 2rem;
  background-color: var(--black);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
}

.header__h1 {
  font-family: var(--Rubik);
  color: var(--light-orange);
  font-size: 2rem;
}

.header__form {
  position: relative;
}

.header__form input {
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #ef5d0819;
  padding: 0.6rem 1rem;
  width: 100%;
  max-width: 170px;
}

.header__form input:focus {
  outline: 1px solid var(--light-orange);
}

[name="search-outline"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 25px;
  cursor: pointer;
}

[name="close-outline"] {
  display: none;
}

[name="grid-outline"] {
  display: none;
}

.header__ul {
  display: flex;
}

.header__navlink {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  transition: 200ms;
  display: block;
}

.header__navlink:hover:not(.active),
.header__navlink:focus:not(.active) {
  color: var(--brownish-orange);
}

.header__navlink.active {
  background-color: var(--dark-orange);
  color: white;
}

.home {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-columns: repeat(auto, 1fr); */
  justify-content: center;
}

.container {
  height: 360px;
  background: gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 200ms;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
}

.container:hover {
  transform: scale(1.02);
}

.container:hover > .container__div--top {
  top: 0;
}

.container:hover > .container__div--bottom {
  bottom: 0;
}

.container__div {
  position: absolute;
  right: 0;
  left: 0;
  background-color: #ef5d08b4;
  padding: 1rem;
}
.container__img {
  width: 100%;
  height: 100%;
  display: block;
  /* aspect-ratio: 1/1; */
}

.container__div--top {
  top: -100%;
  transition: top 200ms;
}

.container__div--bottom {
  bottom: -100%;
  transition: bottom 200ms;
}

.details {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.details__figure {
  width: 100%;
  display: flex;
  background-color: red;
  max-width: 480px;
}

.details__figure img {
  width: 100%;
  height: 100%;
}

.details__movie {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--light-orange);
  border-bottom: 1px solid var(--light-orange);
}

.details__movie p {
  display: flex;
  justify-content: center;
  gap: 1rem;
  letter-spacing: 1px;
  text-align: center;
}

.details__movie p span:nth-child(1) {
  opacity: 0.6;
}

.details__rating {
  display: flex;
  gap: 2rem;
  align-self: center;
}

.details__rating div {
  text-align: center;
}

.details__rating div p:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
}
.details__rating div p:nth-child(2) {
  font-size: 0.8rem;
  color: var(--light-orange);
}

.details__plot {
  text-align: center;
}

.details__plot p {
  opacity: 0.7;
}

@media screen and (max-width: 740px) {
  [name="grid-outline"],
  [name="close-outline"] {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  [name="close-outline"] {
    position: absolute;
    padding: 1rem;
    right: 0;
    top: 0;
  }

  [name="grid-outline"].active + .header__ul {
    right: 0;
  }

  .header__nav {
    position: relative;
    padding-bottom: 3.5rem;
  }

  .header__h1 {
    font-size: 1.52rem;
  }

  .header__ul {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 60%;
    background-color: var(--light-orange);
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 200ms;
  }

  .header__form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .header__form input {
    max-width: none;
  }
}
